[user]
  email = markborcherding@gmail.com
  name = Mark Borcherding
[color]
  ui = true

[merge]
  keepBackup = false;
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[core]
  editor = vim
  excludesfile = /Users/markborcherding/.gitignore_global
  excludefiles = /Users/markborcherding/.gitignore_global
[github]
  user = markborcherding
  token = 2641ae517c90e35542ce03ef99a7ccb7
[rerere]
  enabled = 1
[alias]
  ra = !git r --all
  r = !git l -20
  l = log --graph --abbrev-commit --date=relative
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
