### OSX Ignores

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Vim Ignores

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

files/.vim/bundle/
files/.vim/bundle/
files/.vim/plugged/
files/.config/nvim/plugged/

# Fritzing might not stay
files/.config/Fritzing/

