[submodule "vim/bundle/conque-shell"]
	path = vim/vimfiles/bundle/conque-shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "textmate/bundles/ini.tmbundle"]
	path = textmate/bundles/ini.tmbundle
	url = https://github.com/textmate/ini.tmbundle.git
[submodule "vim/vimfiles/bundle/fuzzy_finder"]
	path = vim/vimfiles/bundle/fuzzy_finder
	url = https://github.com/jamis/fuzzy_file_finder.git
[submodule "vim/vimfiles/bundle/vim-fuzzyfinder"]
	path = vim/vimfiles/bundle/vim-fuzzyfinder
	url = https://github.com/itspriddle/vim-fuzzyfinder-pathogen.git
[submodule "vim/vimfiles/bundle/vim-fugitive"]
	path = vim/vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfiles/bundle/vim-surround"]
	path = vim/vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/vim-json"]
	path = vim/vimfiles/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/vimfiles/bundle/vim-markdown"]
	path = vim/vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".\\powershell\\Modules\\posh-git"]
	path = powershell/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "vim/vimfiles/bundle/molly"]
	path = vim/vimfiles/bundle/molly
	url = https://github.com/vim-scripts/molly.vim
[submodule "vim/vimfiles/bundle/zencoding"]
	path = vim/vimfiles/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/vimfiles/bundle/vim-coffee-script"]
	path = vim/vimfiles/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vimfiles/bundle/vim-ruby"]
	path = vim/vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vimfiles/bundle/vim-rails"]
	path = vim/vimfiles/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vimfiles/bundle/vim-endwise"]
	path = vim/vimfiles/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vimfiles/bundle/command-t"]
	path = vim/vimfiles/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vimfiles/bundle/mustache.vim"]
	path = vim/vimfiles/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "zsh/git-flow-completion"]
	path = zsh/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "vim/vimfiles/bundle/vim-cucumber"]
	path = vim/vimfiles/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/vimfiles/bundle/fuzzyfinder_textmate"]
	path = vim/vimfiles/bundle/fuzzyfinder_textmate
	url = https://github.com/jamis/fuzzyfinder_textmate.git
[submodule "vim/vimfiles/bundle/vim-powerline"]
	path = vim/vimfiles/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vimfiles/bundle/vim-solarized"]
	path = vim/vimfiles/bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vimfiles/bundle/vim-taglist"]
	path = vim/vimfiles/bundle/vim-taglist
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "vim/vimfiles/bundle/vim-less"]
	path = vim/vimfiles/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vimfiles/bundle/html5.vim"]
	path = vim/vimfiles/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim/vimfiles/bundle/ctrlp.vim"]
	path = vim/vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vimfiles/bundle/snipmate"]
	path = vim/vimfiles/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vimfiles/bundle/vim-commentary"]
	path = vim/vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git://github.com/markborcherding/tmux-powerline.git
[submodule "vim/vimfiles/bundle/syntastic"]
	path = vim/vimfiles/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vimfiles/bundle/ctrip.vim"]
	path = vim/vimfiles/bundle/ctrip.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vimfiles/bundle/webapi-vim"]
	path = vim/vimfiles/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "vim/vimfiles/bundle/gist-vim"]
	path = vim/vimfiles/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
