[submodule "vim/bundle/conque-shell"]
	path = vim/vimfiles/bundle/conque-shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "textmate/bundles/ini.tmbundle"]
	path = textmate/bundles/ini.tmbundle
	url = https://github.com/textmate/ini.tmbundle.git
[submodule "vim/vimfiles/bundle/fuzzy_finder"]
	path = vim/vimfiles/bundle/fuzzy_finder
	url = https://github.com/jamis/fuzzy_file_finder.git
[submodule "vim/vimfiles/bundle/vim-fuzzyfinder"]
	path = vim/vimfiles/bundle/vim-fuzzyfinder
	url = https://github.com/itspriddle/vim-fuzzyfinder-pathogen.git
[submodule "vim/vimfiles/bundle/vim-fugitive"]
	path = vim/vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfiles/bundle/vim-surround"]
	path = vim/vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/vim-json"]
	path = vim/vimfiles/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/vimfiles/bundle/vim-markdown"]
	path = vim/vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".\\powershell\\Modules\\posh-git"]
	path = powershell/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "vim/vimfiles/bundle/molly"]
	path = vim/vimfiles/bundle/molly
	url = https://github.com/vim-scripts/molly.vim
[submodule "vim/vimfiles/bundle/zencoding"]
	path = vim/vimfiles/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/vimfiles/bundle/vim-coffee-script"]
	path = vim/vimfiles/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vimfiles/bundle/vim-ruby"]
	path = vim/vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vimfiles/bundle/vim-rails"]
	path = vim/vimfiles/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vimfiles/bundle/gist-vim"]
	path = vim/vimfiles/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/vimfiles/bundle/vim-endwise"]
	path = vim/vimfiles/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vimfiles/bundle/command-t"]
	path = vim/vimfiles/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
