[user]
	name = Mark Borcherding
	email = mark.borcherding@wwt.com

[includeIf "gitdir:~/source/markborcherding/"]
	include = ~/.gitconfig_personal

[color]
  ui = true

[github]
  user = markborcherding

[rerere]
  enabled = 1

[alias]
  ra = !git r --all
  r = !git l -20
  l = log --graph --abbrev-commit --date=relative
  lg = log --graph --abbrev-commit --date=relative
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  br = branch

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[core]
  excludesfile = ~/.gitignore_global

[push]
	default = simple

[credential]
	helper = osxkeychain

[merge]
  keepBackup = false;
  tool = vimdiff
	conflictstyle = diff3
  keepTemporaries = false
  keepBackup = false

[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[mergetool]
	keepBackup = false
